.movies-cards {
    flex: 1 1 100%;
    width: 100%;
    padding: 70px 70px 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.movies-card__list {
    width: 100%;
    box-sizing: border-box;

    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 32px 29px;
    align-items: center;
    justify-content: center;
}

.movies-cards__list-empty {
    display: block;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #A0A0A0;
    opacity: 0.6;
}

/* .movies-cards__list-empty_hidden {
    visibility: hidden;
} */

.movies-cards__button-more {
    width: 100%;
    height: 36px;
    border: none;
    background: #F9F9F9;
    border-radius: 6px;

    padding: 0;
    margin: 50px 0 80px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #000000;
}


.movies-cards__button-more:hover {
    cursor: pointer;
    opacity: 0.8;
}

.movies-cards__button-more_hidden {
    visibility: hidden;
}



@media (max-width: 1024px) {
    .movies-cards {
        padding: 64px 30px 30px;
    }

    .movies-card__list {
        grid-template-columns: repeat(auto-fit, minmax(342px, max-content));
        gap: 35px 24px;
    }
}

@media (max-width: 480px) {
    .movies-cards {
        padding: 40px 10px 30px;
    }

    .movies-card__list {
        grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
        gap: 16px 0px;
    }

    .movies-cards__button-more {
        min-width: 200px;
    }
}