.navtab {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: #073042;
}

@media (max-width: 768px) {
    .navtab {
        height: 66px;
        /* margin-top: -66px; */
    }
}

@media (max-width: 320px) {
    .navtab {
        display: none;
    }
}
